.app {
    display: flex;
    justify-content: center;
}

.wrapper {
    max-width: 1200px;
}

.wrapper form {
    display: flex;
    flex-direction: column;
}

.textarea {
    width: 500px;
    height: 500px;
    resize: none;
}

.btn {
    padding: 5px 15px;
}

.error {
    background-color: rgb(255, 50, 50);
    font-weight: bold;
    color: white;
}
